body {
    background-image: url("Monkey1.png");
    background-size: cover;
}

h1 {
    font-family: "Mogra", system-ui;
    font-weight: 400;
    font-style: normal;
}

#valentine-block{
    background-image: url("Monke4.png");
    background-size: contain;
}
#answer {
    text-align: -webkit-center;
}

.answer-block {
    display: none;
}

.answer-image {
    height: 375px;
}